@font-face {
  font-family: 'Helvetica Nue';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Nue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Nue';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  padding-left: 30%;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#dee1e3), to(#6a7e90));
  background: linear-gradient(to top, #dee1e3 0%, #6a7e90 100%);
}

.sidebar__background {
  height: 100vh;
  border-right: 12px double black;
  background-image: url(../images/twig.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right -220px top 125px;
}

.sidebar__wrapper {
  padding: 60px 60px 60px 50px;
}

.sidebar .author {
  font-family: 'Helvetica Nue';
  font-size: 17px;
}

.sidebar .author__name {
  font-weight: 700;
  font-size: 20px;
  color: #e7e7e7;
  text-transform: uppercase;
}

.sidebar .author__name > span {
  font-weight: 300;
}

.sidebar .author__contacts {
  display: block;
  max-width: 185px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.15;
  text-decoration: none;
  color: #e7e7e7;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.sidebar .author__contacts:hover {
  color: rgba(220, 144, 0, 0.5);
}

.main {
  position: relative;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 144, 0, 0.5)), to(rgba(255, 165, 0, 0.2)));
  background: linear-gradient(to bottom, rgba(220, 144, 0, 0.5) 0%, rgba(255, 165, 0, 0.2) 100%);
}

.main__background {
  height: 100vh;
  background-image: url(../images/tree.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: right -310px top -35px;
}

.main__wrapper {
  max-width: 800px;
  margin-left: 50px;
  padding: 60px 50px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  padding: 5px;
}

.social__link:hover .social__icon {
  fill: rgba(220, 144, 0, 0.5);
}

.social__icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  fill: #e7e7e7;
  -webkit-transition: fill 200ms ease-in-out;
  transition: fill 200ms ease-in-out;
}
/*# sourceMappingURL=main.css.map */