.social {
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto 0;

  @media screen and (min-width: 768px) {
    justify-content: unset;
    margin: 0;
  }

  &__link {
    margin-right: 10px;
    padding: 10px;

    text-decoration: none;

    @media screen and (min-width: 768px) {
      padding: 5px;
    }

    &:hover .social__icon {
      fill: #fbd59e;
    }
  }

  &__icon {
    width: 35px;
    height: 35px;

    fill: #464646;
    transition: fill 200ms ease-in-out;

    @media screen and (min-width: 768px) {
      fill: #fdfdfd;
    }
  }
}
