.social {
  display: flex;

  &__link {
    padding: 5px;

    text-decoration: none;

    &:hover .social__icon {
      fill: #fbd59e;
    }
  }

  &__icon {
    width: 35px;
    height: 35px;

    margin-right: 10px;

    fill: rgb(231, 231, 231);
    transition: fill 200ms ease-in-out;
  }
}
