body {
  padding: 20px 0;

  background-color: #fdfdfd;
}

.desktop-wrapper {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.mobile-wrapper {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
